<?xml version="1.0"?>

<robot name="can">
	<link name="base">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value="0.05" />
			<inertia ixx="0.000683333" ixy="0" ixz="0" iyy="0.000683333" iyz="0" izz="0.000683333" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<!--origin
			xyz="0.0 0.0 0.055" rpy="0 0 0" /-->
			<geometry>
				<!-- <mesh filename="cokecan.dae" scale="0.254 0.254 0.254" /> -->
				<!--cylinder
				length="0.11" radius="0.035"/-->
				<cylinder length="0.5" radius="0.3" />

			</geometry>

		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<!-- <origin xyz="0.0 0.0 0.059" rpy="0 0 0"/> -->
			<geometry>
				<!-- <mesh filename="cokecan.stl" scale="0.254 0.254 0.254" /> -->
				<cylinder length="0.5" radius="0.3" />
			</geometry>
		</collision>
	</link>
</robot>