<?xml version="1.0" ?>

<robot name="tiago" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="pmb2_robot_description" default="./../../robot_descriptions/pmb2_robot"/>

    <!-- Base -->
    <link name="base_link">
        <inertial>
            <mass value="28.26649"/>
            <inertia ixx="0.465" ixy="0.002" ixz="-0.001" iyy="0.483" iyz="0" izz="0.55093970"/>
        </inertial>
        
        <!-- right wheel -->
        <visual>
            <origin rpy="-1.57 0 0" xyz="0 -0.2022 0"/>
            <geometry>
                <mesh filename="$(arg pmb2_robot_description)/meshes/wheels/wheel.stl"/>
            </geometry>
            <material name="DarkGrey"/>
        </visual>
        
        <!-- left wheel -->
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0.2022 0"/>
            <geometry>
                <mesh filename="$(arg pmb2_robot_description)/meshes/wheels/wheel.stl"/>
            </geometry>
            <material name="DarkGrey"/>
        </visual>
        
        <!-- body -->
        <visual>
            <geometry>
                <mesh filename="$(arg pmb2_robot_description)/meshes/base/base.stl"/>
            </geometry>
            <material name="White"/>
        </visual>

        <collision>
            <geometry>
                <mesh filename="$(arg pmb2_robot_description)/meshes/base/base_collision.dae"/>
            </geometry>
            <material name="White"/>
        </collision>
    </link>

</robot>
