<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="madar_platform">

    <xacro:arg name="bmm_description_path" default="./../../robot_descriptions/bmm"/>
    <xacro:include filename="$(arg bmm_description_path)/bmm3_platform_macro.xacro" />

    <xacro:bmm3_robot
        prefix="madar_"
        >
    </xacro:bmm3_robot>


</robot>